body {
    margin: 0;
    padding: 10;
    font-weight: bold;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
}
.box
{		
	margin: 10px;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: #1FA907 4px solid;
	box-shadow: 0px 6px 45px -11px;
	text-align: center;
	font-size: 12;
	
}

.box button[type="submit"] {
	padding: 15px;
}
